*{
    box-sizing: border-box;
}

.app-container {
    overflow: hidden; 
}


@media (max-width: 768px) {
    .Toastify__toast {
        position: "top-right";
        max-width: 250px !important;
        font-size: 12px !important;
        padding: 6px !important;
    }
    .Toastify__toast-body {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 480px) {
    .Toastify__toast {
        margin: 1.2rem .1rem 0;
        border-radius: 6px;
    }
    .Toastify__toast-body {
        font-size: 12px !important;
    }
} 